.login-page {
  width: 800px;
  padding: 20% 0 0;
  margin: auto;
}

.register-page {
  width: 800px;
  padding: 20% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #0072E3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
}
body {
  background: #0072e3; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #0072e3, #8DC26F);
  background: -moz-linear-gradient(right, #0072e3, #8DC26F);
  background: -o-linear-gradient(right, #0072e3, #8DC26F);
  background: linear-gradient(to left, #0072e3, #8DC26F);   
}